@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700;800&display=swap');

@import "./src/styles/est-nav.css";
@import "./src/styles/est-register-btn.css";
@import "./src/styles/est-schedule.css";
@import "./src/styles/est-select.css";
@import "./src/styles/est-faq.css";
@import "./src/styles/est-footer.css";

:root {
    --color-1: #AB9CE6;
    --color-2: #AB9CE6;
    --color-3: #AB9CE6; 
    --color-4: #AB9CE6;  
    --color-5: #634CBA; 

    /* re-export colors for better semantics */
    --primary-color-1: white;
    --primary-color-2: white;
    --secondary-color-1: var(--color-2);
    --secondary-color-2: var(--color-3);
    --accent-color-1: var(--color-4);
    --accent-color-2: var(--color-5);
    --background-color: var(--color-1);
    --muted-color: #f5f5f5;

    /* fonts */
    --primary-font: 'Baloo 2', sans-serif;
    --secondary-font: 'Baloo 2', sans-serif;
    
    /* gutters */
    --content-margin: 0px 0px; 
    --content-padding: calc(var(--nav-height)) 20%;

    /* nav */
    /* this variable is here and not in nav-bar.css because .content needs to use it */
    --nav-height: 60px;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0px;
    background: var(--background-color);
    font-family: var(--secondary-font);
    overflow-x: hidden;
}

h1 {
    font-family: var(--primary-font);
    margin: 0px;
}

p {
    line-height: 1.75rem;
}

.content {
    position: relative;
    top: var(--nav-height);
}

.splash-container {
    display: flex;
    height: calc(100vh - 120px);
}

.splash {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--primary-font);
}

.splash--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.splash--main img {
    width: 50vw;
    height: 40vh;
}

.splash--main h1 {
    font-size: 4rem;
    font-weight: bold;
    padding: 20px;
    padding-bottom: 0px;
}

.splash__main__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    padding-bottom: 0px;
    width: 100%;
}

.splash__main__item > div {
    padding: 10px;
    text-align: center;
    width: 100%; 
}

.date {
    font-size: 1.5rem;
}

.splash--quote {
    font-size: 1.25rem;
    font-weight: bold;
}

.splash__illo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: -50px;
}

.splash__illo img {
    width: 30vw;
    height: 50vh;
}

#logo {
    position: fixed;
    top: 0px;
    left: 30px;
    animation: 1.5s cubic-bezier(0.22, 1, 0.36, 1) slidein--top;
    z-index: 1001;
}

#logo img {
    height: 100px;
    width: 90px;
    padding: 0px;
}

.admissions-block {
    display: inline-block;
    width: 45%;
}

.tracks-container {
    display: flex;
	flex-wrap: wrap;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.tracks {
    position: relative;
    width: 40%;
    display: table-cell;
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: white;
}

.tracks:hover .overlay {
    opacity: 1;
}

.text {
    color: #634CBA;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.row {
    display: table;
    border-spacing: 40px;
}

@media (min-width: 501px) {

}

@media (max-width: 500px) {
    .splash-container {
        height: calc(600px - var(--nav-height)); 
    }
}
