.est-faq {
    margin-top: 20px;
}

.est-faq__container {
    padding: 10px 0px;
}

.est-faq__container__item {
    padding: 5px 0px;
}

.est-faq__container__item--question {
    font-weight: bold;
    background: url("../../assets/HGTeeny_FAQ_Q_small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.5rem;
    margin-left: 0;
    height: 2vh;
    /* width: 50vw; */
    padding: 15vh 12vw 15vh 12vw;
    text-align: center;
    color: #634CBA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.est-faq__container__item--answer {
    background: url("../../assets/HGTeeny_FAQ_A_small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    padding-right: 10vw;
    margin-left: 0;
    padding-top: 15vh;
    height: 7vh;
    text-align: center;
    color: #634CBA;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
