.est-faq {
    margin-top: 20px;
}

.est-faq__container {
    padding: 10px 0px;
}

.est-faq__container__item {
    padding: 5px 0px;
}

.est-faq__container__item--question {
    font-weight: bold;
    background: url("../../assets/HGTeeny_FAQ_Q_small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1.3rem;
    margin: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    padding-top: 1vh;
    text-align: center;
    color: #634CBA;
    flex-wrap: wrap;
    justify-content: center;
    display: table-cell;
    width: 90%;
    height: 100%;
}

.est-faq__container__item--answer {
    background: url("../../assets/HGTeeny_FAQ_A_small.svg");
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 1rem;
    margin: auto;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: center;
    color: #634CBA;
    display: table-cell;
    flex-wrap: wrap;
    justify-content: space-around;
}

.est-faq__container__item--q {
    background: url("../../assets/Q.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    display: table-cell;
    margin-left: 10px;
}

.est-faq__container__item--a {
    background: url("../../assets/A.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 10%;
    height: 100%;
    display: table-cell;
    margin-left: 10px;
    padding: 2px;
}

.est-faq__container__item--question-container {
    display: table;
    margin-bottom: 10px;
    width: 50vw;
    height: 8vh;
}

.est-faq__container__item--answer-container {
    display: table;
    width: 60vw;
    height: 9.5vh;
    margin-bottom: 15px;
}

@media (max-width: 800px) {
    .est-faq__container__item--question {
        font-size: 0.75rem;
    }
    .est-faq__container__item--answer {
        font-size: 0.5rem;
    }
    .est-faq__container__item--question-container {
        width: 60vw;
        height: 4vh;
    }
    .est-faq__container__item--answer-container {
        width: 60vw;
        height: 5.5vh;
    }
}

@media (max-width: 450px) {
    .est-faq__container__item--question-container {
        width: 60vw;
        height: 5vh;
    }
    .est-faq__container__item--answer-container {
        width: 70vw;
        height: 5vh;
    }
    .est-faq__container__item--question {
        font-size: 0.5rem;
    }
}